<!DOCTYPE html>
<html>

<head>
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>SpaceWaffle42s Tool | YouTube Downloader</title>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2808963410562244"
     crossorigin="anonymous"></script>
</head>
<header>
</header>

<body>

    <div class="container z-depth-4">
        <div class="row">
            
            <div class="iframe-container">

            <div class="col s6 offset-l2" style="padding-top: 50px; padding-bottom: 50px;">
                <iframe id="youtube-iframe" frameborder="0" allowfullscreen></iframe>

                <!-- <iframe src="https://www.youtube.com/embed/1DCBVxH86OE" frameborder="0" allowfullscreen></iframe> -->
</div>
            </div>
            <form action="/process_form" method="post">
                <div class="input-field col s12 m9">
                    <input type="text" id="v_link" name="v_link" style="color: azure;"
                        placeholder="Please provide video link">
                </div>
                <div class="col s12 m3" style="padding-top: 15px;">

                    <select id="res" name="res">
                        <option value="None" disabled selected>Choose your option</option>
                        <option value="highest">highest</option>
                        <option value="1080">1080p</option>
                        <option value="720">720p</option>
                        <option value="480">480p</option>
                        <option value="360">360p</option>
                        <option value="240">240p</option>
                        <option value="144">144p</option>
                    </select>
                </div>
                <div class="col s10 m9">
                    <label>
                        <input class="with-gap" name="a_check" type="checkbox" id="a_check" value="True" />
                        <span>Audio only</span>
                    </label>
                </div>
                <div class="col s12 m3">

                    <button class="btn waves-effect waves-light" id="SubmitBtn" type="submit" name="action"
                        onclick="M.toast({html: 'Download request sent!'})">
                        Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/youtubevidselect.js') }}"></script>
    <script src="{{ url_for('static', filename='js/selectboxes.js') }}"></script>

</body>

</html>